/* ##### FONT FAMILY */

@font-face {
  font-family: 'pristinastd';
  src: url(/font/pristinastd.woff2) format('woff2'),
        url(/font/pristinastd.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ##### DARK MODE */

[data-bs-theme=dark] {
  color: white;
}

[data-bs-theme=dark] .bg-white {
  background-color: var(--bs-body-bg) !important;
  color: white; 
}

[data-bs-theme=dark] .dropdown-menu {
  background-color: #212529 !important;
}

[data-bs-theme=dark] .dropdown-menu button {
  color: white;
}

[data-bs-theme=dark] .dropdown-menu .selected {
  background-color: rgb(16, 16, 16);
}

[data-bs-theme=dark] p,
[data-bs-theme=dark] h1,
[data-bs-theme=dark] h2,
[data-bs-theme=dark] h3,
[data-bs-theme=dark] h4,
[data-bs-theme=dark] h5,
[data-bs-theme=dark] h6,
[data-bs-theme=dark] small,
[data-bs-theme=dark] .btn-close {
    color: white !important;
    fill: white !important;
}

[data-bs-theme=dark] #interfazVentanaEmergente {
  background-color: #272b30 !important;
}

[data-bs-theme=dark] .notiAlerta {
  background-color: #721c24;
  color: white;
  border-color: rgb(63, 0, 0);
}

[data-bs-theme=dark] .evento {
  background-color: #aa4700;
}

[data-bs-theme=dark] .btn-primary,
[data-bs-theme=dark] .btn-outline-primary:hover {
  color: black;
  fill: black;
}

[data-bs-theme=dark] .base {
  color: white !important;
}

[data-bs-theme=dark] .info-general .info-item path {
  fill: white;
}

[data-bs-theme=dark] .footer-bottom a,
[data-bs-theme=dark] .footer-col a,
[data-bs-theme=dark] .footer-col ul li {
  color: white;
}

[data-bs-theme=dark] .footer-bottom {
  border-top: 1px solid #ebebeb;
}

[data-bs-theme=dark] .btn-primary:hover {
  color: white;
  fill: white;
}

/* ##### SIMPLE STYLES */

body {
  background-color: var(--bs-secondary-bg);
  overflow-x: hidden;
}

.notiAlerta {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.notiAlerta i {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  height: 100%;
}

.notiAlerta p {
  margin: 0px;
  font-size: 15px;
}

.notiAlerta a {
  color: #420007;
}

/* NAVBAR */

.list-group-item.search {
  background-color: var(--bs-tertiary-bg);
}

.list-group-item.search:hover {
  background-color: var(--bs-primary-border-subtle);
}

.list-group-item.search svg {
  fill: var(--bs-body-color);
}

.list-group-item.search span {
  color: var(--bs-body-color);
}

.carousel-item {
  transition: opacity .6s ease-in-out;
}

.carousel-item img {
  transform: scale(1.05);
  transition: transform 10s linear;
}

.carousel-item.active img {
  transform: scale(1);
}

.carousel-item.active {
  transition: transform 0.1s linear;
}

.carousel-item.active:hover {
  transform: scale(1.05);
}

.carousel-control-next,
.carousel-control-prev {
  width: auto;
  opacity: 1 !important;
  transition: none;
}

.carousel-control-prev button,
.carousel-control-next button {
  background-color: white;
  border-radius: 70px;
  transition: 0.15s ease;
}

.carousel-control-prev button:hover,
.carousel-control-next button:hover {
  background-color: white;
  opacity: 0.8;
}

.carousel-control-prev button span,
.carousel-control-next button span {
  height: 24px;
  width: 24px;
  filter: invert(1) grayscale(100);
}

.carousel-control-prev button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.carousel-control-next button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* PRODUCTS */

.base {
  margin: 1rem !important;
  background-color: var(--bs-body-bg);
}

.base .linkCatPc {
  /* display: block; */
  display: none !important; /* Oculto temporalmente */
}
.base .linkCatMovil {
  display: none !important;
}

.viewport {
  width: 100%;
  max-width: 1100px;
  overflow: hidden;
  margin: 0 auto;
}

.card-style {
  flex: 0 1 calc(16.66% - 10px);
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.container-base {
  padding: 1rem !important;
  position: relative;
}

.container-base .btn-prev,
.container-base .btn-next {
  position: absolute;
  align-items: center;
  background-color: var(--bs-body-bg);
  fill: var(--bs-emphasis-color);
  border: 0;
  cursor: pointer;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  opacity: 1;
  padding: 0;
  top: 50%;
  border-radius: 100%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .12);
  -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .12);
  z-index: 999;
}

.container-base .btn-prev:hover,
.container-base .btn-next:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.182);
  -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.182);
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .182);
}

.container-base .btn-prev {
  left: -35px;
}

.container-base .btn-next {
  right: -35px;
}

.card-style img {
  object-fit: cover;
}

.card-style:hover {
  background-color: var(--bs-primary-bg-subtle);
}

.titulo {
  height: 50px;
}

.descDisplay {
  height: 120px;
}

.descDisplay,
.titulo {
  overflow: hidden;
  border-bottom-color: white;
  text-overflow: ellipsis;
  color: black;
}

/* INFO GENERAL */

.info-general {
  background-color: var(--bs-body-bg);
}

.info-general .info-item {
  box-sizing: border-box;
  position: relative;
  padding: 15px;
}

.info-general .info-item:nth-child(2)::after, .info-general .info-item:nth-child(2)::before {
  background-color: #cecece;
  content: "";
  display: block;
  height: 80px;
  margin-top: -32.5px;
  position: absolute;
  top: 50%;
  width: 1px;
}

.info-general .info-item:nth-child(2)::after {
  left: 0;
}

.info-general .info-item:nth-child(2)::before {
  right: 0;
}

/* BUSCADOR */

.busqueda {
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: transparent;
  border-color: #ccc;
  border-radius: 10px;
  display: none;
}

.busquedaMovil {
  width: 100%;
  border-color: #cccccc00;
  border-radius: 0px;
  display: none;
}

.busqueda.mostrar {
  display: block;
}

.busquedaMovil.mostrar {
  display: block;
}

.resultado,
.resultado li {
  background-color: transparent;
  cursor: pointer;
}

.resultado img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  object-fit: cover;
}

.resultadoMovil img {
  min-width: 55px;
  height: 55px;
  margin: 0%;
  border-radius: 10px;
  object-fit: cover;
}

.resultado li:hover {
  background-color: rgba(0, 0, 0, 0.116);
}

/* BOTON FLOTANTE */

.btn_flotante {
  transition: 0.3s;
  position: fixed;
  width: 50px;
  height: 50px;
  border-color: transparent; 
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.377);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.btn_flotante i {
  font-size: 35px;
}

.btn_flotante:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.377);
}

.btn_flotante.default {
  bottom: 30px;
  right: 90px;
  background-color: #ffffffb7;
  color: black;
  opacity: 0;
}

.btn_flotante.chat {
  bottom: 30px;
  right: 30px;
  background-color: #ff00b7b7;
  color: white;
}

.btn_flotante.chat.icon-chat #icon-chat {
  display: block !important;
}

.btn_flotante.chat.icon-close #icon-close {
  display: block !important;
}

.btn_flotante.mostrar {
  transition: 0.3s;
  opacity: 1;
  cursor: pointer;
}

/* FOOTER */

.footer {
  padding: 40px 20px 10px;
}

.footer-main {
  display: flex;
  justify-content: end;
  margin-right: 3%;
  margin-left: 3%;
  padding-bottom: calc(var(--spacing) * 4);
  padding-top: calc(var(--spacing) * 8);
  padding-inline: calc(var(--spacing) * 10);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin: auto;
  gap: 120px;
}

.footer-logo img {
  width: 150px;
  display: block;
  margin-bottom: 10px;
}

.footer-slogan {
  font-size: 14px;
  line-height: 1.4;
}

.footer-col h4 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 4px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-col a {
  color: #000000;
  text-decoration: none;
}

.footer-col a:hover {
  text-decoration: underline;
}

.footer-bottom {
  border-top: 1px solid #a0a0a0;
  margin-top: 30px;
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
}

.footer-bottom a {
  color: #000000;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-conf {
  margin-bottom: 5px;
  margin-top: 5px
}

.btn-cambiar-tema svg,
.btn-cambiar-tema-movil svg {
  display: none;
}

.btn-cambiar-tema.light #light-icon,
.btn-cambiar-tema-movil.light #light-icon {
  display: inline !important;
}

.btn-cambiar-tema.dark #dark-icon,
.btn-cambiar-tema-movil.dark #dark-icon {
  display: inline !important;
}

.btn-cambiar-tema.auto #auto-icon,
.btn-cambiar-tema-movil.auto #auto-icon {
  display: inline !important;
}

.btn-dropdown {
  border-width: 1px;
  border-color: var(--clr-general);
  margin-left: 10px;
  color: var(--bs-emphasis-color);
  position: relative;
}

.btn-dropdown:hover {
  border-color: var(--clr-general);
  color: var(--clr-general);
}

.btn-dropdown:first-child:active {
  border-color: var(--clr-general);
  color: var(--clr-general);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute !important;
  left: 0;
  top: -110px;
  padding: 7px 0 !important;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  z-index: 1000;
}

.dropdown-menu .selected {
  color: var(--clr-general) !important;
  background-color: rgb(208, 208, 208);
}

.show-drop {
  display: block;
}

.icon_pago {
    border: 1px solid #00000012;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05);
    margin-right: 10px;
}

.icon_pago g {
  transform: translate(15%, 15%)
}


@media screen and (min-width: 600px) { /* Estilos para Computadoras */
  #noti {
  padding: 25px;
  display: none;
  width: 330px;
  height: 320px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  }
  .card-style img {
    max-height: 210px;
  }
  .text_error_404 a {
    width: 15%;
  }
}

@media screen and (max-width: 600px) { /* Estilos para Dispositivos Moviles Vertical */
  [data-bs-theme=dark] #interfazVentanaEmergente {
    background-color: transparent !important;
  }
  nav .navbar-menu {
    border-color: var(--clr-general);
    display: block !important;
  }
  nav .navbar-menu.collapsed {
    border-color: var(--bs-emphasis-color);
  }
  nav .navbar-menu:hover {
    border-color: var(--clr-general);
  }
  nav form {
    width: 100% !important;
  }
  nav ul li svg {
    height: 24px;
    width: 24px;
  }
  nav ul li span {
    display: inline !important;
    color: var(--bs-emphasis-color);
  }
  nav ul li.share {
    display: block !important;
  }
  .carousel-control-prev button,
  .carousel-control-next button {
    background-color: transparent;
    border: 0;
    opacity: 0.5;
  }
  .carousel-control-prev button:hover,
  .carousel-control-next button:hover {
    background-color: transparent;
  }
  .footer-conf {
    flex-direction: column;
    align-items: center;
  }
  .btn-dropdown {
    min-width: 230px;
  }
  .base {
    margin: 0.25rem !important;
  }
  .base .name-cat div {
    padding: 0.50rem !important;
    
  }
  .base .name-cat h2 {
    font-size: 16px;
  }
  .base .name-cat hr {
    display: block !important;
    margin: 0.50rem 0 0.50rem 0;
  }
  .base .linkCatPc {
    display: none !important;
  }
  .base .linkCatMovil {
    /* display: block !important; */
    display: none !important; /* Oculto temporalmente */
  }
  .container-base {
    padding: 0.25rem !important;
  }
  .viewport .container {
    display: block !important;
    position: relative;
    box-sizing: border-box;
  }
  .viewport .container .card-style::after {
    background-color: var(--bs-secondary-bg);
    content: "";
    display: block;
    height: 1px;
    top: -6px;
    position: absolute;
    width: 95%;
    align-items: center;
  }
  .card-style {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px !important;
  }
  .card-style .titulo {
    height: auto;
    font-size: 18px;
  }
  .card-style .descDisplay {
    font-size: 15px;
    margin: 0;
    height: auto;
  }
  .card-style .flex-movil {
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .card-style .card-body {
    padding: 5px;
  }
  .card-style .img-movil {
    padding-right: 15px !important;
    margin: 0% !important;
  }
  .card-style .catDisplay {
    font-size: 14px;
    display: none;
  }
  .card-style img {
    height: 100px;
    width: 100px !important;
  }
  .container-base .btn-prev,
  .container-base .btn-next {
    display: none !important;
  }
  .btn_flotante {
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
  .btn_flotante.default {
    bottom: 80px;
    right: 30px;
  }
  .btn_flotante.chat {
    bottom: 30px;
    right: 30px;
  }
  .btn_flotante i {
    font-size: 30px;
  }
  .btn_flotante:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
  .corazon i.eslogan {
    display: none;
  }
  .footercopy {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.5rem !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
  #noti {
    padding: 25px;
    display: none;
    position: sticky;
    top: 0;
    z-index: 0;
    height: auto;
    width: auto;
  }
  .text_error_404 a {
    width: 100%;
  }
  .productoVista div,
  .productoVista figure {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .info-general .info-item {
    padding: 0px;
  }
  .info-general .info-item:nth-child(2)::after, .info-general .info-item:nth-child(2)::before {
    display: none;
  }
  .footer li svg,
  .footer .icon_pago {
    display: none;
  }
  .footer-main {
    display: block;
    margin: 0;
  }
  .footer-main .footer-container {
    display: flex;
    justify-content: space-between;
    gap: 0px;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo img {
    width: 100px;
  }
}
@media screen and (max-height: 600px) { /* Estilos para Dispositivos Moviles Horizontal */
  .navDiv1 {
    margin-bottom: 0px;
  }
  .base {
    margin: 0.25rem !important;
  }
  .base .name-cat div {
    padding: 0.50rem !important;
    
  }
  .base .name-cat h2 {
    font-size: 16px;
  }
  .base .name-cat hr {
    display: block !important;
    margin: 0.50rem 0 0.50rem 0;
  }
  .base .linkCatPc {
    display: none !important;
  }
  .base .linkCatMovil {
    display: block;
  }
  .container-base {
    padding: 0.25rem !important;
  }
  .viewport .container {
    display: block !important;
    position: relative;
    box-sizing: border-box;
  }
  .viewport .container .card-style::after {
    background-color: var(--bs-secondary-bg);
    content: "";
    display: block;
    height: 1px;
    top: -6px;
    position: absolute;
    width: 95%;
    align-items: center;
  }
  .card-style {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px !important;
  }
  .card-style .titulo {
    height: auto;
    font-size: 18px;
  }
  .card-style .descDisplay {
    font-size: 15px;
    margin: 0;
    height: auto;
  }
  .card-style .flex-movil {
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .card-style .card-body {
    padding: 5px;
  }
  .card-style .img-movil {
    padding-right: 15px !important;
    margin: 0% !important;
  }
  .card-style .catDisplay {
    font-size: 14px;
    display: none;
  }
  .card-style img {
    height: 100px;
    width: 100px !important;
  }
  .container-base .btn-prev,
  .container-base .btn-next {
    display: none !important;
  }
  .btn_flotante {
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
  .btn_flotante i {
    font-size: 30px;
  }
  .btn_flotante:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
  .footercopy {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.5rem !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
  .text_error_404 a {
    width: 100%;
  }
}