.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 40
  }

  @font-face {
    font-family: 'pristinastd';
    src: url(../pristinastd.woff2) format('woff2'),
         url(../pristinastd.woff) format('woff');
    font-weight: normal;
    font-style: normal;
  }

  body {
    overflow-x: hidden;
  }

  .etiquetaSup {
    width: 100%;
    background-color: #485206;
  }

  .etiquetaSup span {
    white-space: nowrap;
    overflow: hidden;
    display: none;
    animation: animacionEtiquetaSup 30s linear infinite;
  }

  @keyframes animacionEtiquetaSup {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(-200%);
    }
  }

.navDiv1 {
  margin-bottom: 1rem;
}

.navDiv2 {
  display: block;
}

.navDiv3 {
  display: flex;
}

#menuOpenButton {
	display: none;
}

#sidebar {
	position: fixed;
	top: 0;
	left: -300px;
	width: 300px;
	height: 100vh;
  overflow-y: scroll;
	background-color: #f8f8f8;
	transition: left 0.3s ease;
	z-index: 9999;
}

#sidebar.open {
	left: 0;
}


.btnNav {
    padding: 15px 20px;
    text-decoration: none;
    color: #485206;
    font-weight: bold;
    cursor: pointer;
}

.btnNav:hover {
    color: black;
}

.btnNav.disabled,
.btnNav.disabled:hover {
    color: rgb(80, 79, 79);
    cursor: default;
}

.btnNav i {
  font-size: 25px;
}

.btnIcon span, 
.btnIcon i {
    padding-right: 5px;
    font-size: 22px;
    text-decoration: none;
    color: #485206;
    font-weight: bold;
}

.logoMenuSup span {
  font-family: 'pristinastd';
  font-size: 26px;
  padding-left: 5px;
}

.card-style {
  margin: 10px;
  max-width: 540px;
  max-height: 300px;
  cursor: pointer;
  overflow: hidden;
  display: none;
}
.card-style:nth-child(-n+4) {
  display: flex;
}
.filter {
  margin: 10px;
  max-width: 200px;
  max-height: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-style img,
.filter img {
  object-fit: cover;
}

.card-style:hover,
.filter:hover {
  transition: 0.2s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.322);
}

.precio,
.linkCatalogo {
  display: none;
}

.titulo {
  max-height: 25px;
}

.descripcion {
  height: 100px;
}

.descripcion,
.titulo {
  overflow: hidden;
  border-bottom-color: white;
  text-overflow: ellipsis;
}

.notiAlerta {
  padding: 5px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.notiAlerta i {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  height: 100%;
}

.notiAlerta p {
  margin: 0px;
  font-size: 15px;
}

.fa-fw {
  width: 1.25em;
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: left; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

/* Buscador */
.busqueda {
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border-color: #ccc;
  border-radius: 10px;
  display: none;
}

.busquedaMovil {
  width: 100%;
  background-color: white;
  border-color: #cccccc00;
  border-radius: 0px;
  display: none;
}

.busqueda.mostrar {
  display: block;
}

.busquedaMovil.mostrar {
  display: block;
}

.resultado,
.resultado li {
  background-color: transparent;
  cursor: pointer;
}

.resultado img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  object-fit: cover;
}

.resultadoMovil img {
  min-width: 55px;
  height: 55px;
  margin: 0%;
  border-radius: 10px;
  object-fit: cover;
}

.resultado li:hover {
  background-color: rgba(0, 0, 0, 0.116);
}

/* Boton flotante */
.btn_flotante {
  transition: 0.3s;
  position: fixed;
  bottom: 40px; 
  right: 30px; 
  width: 50px;
  height: 50px;
  background-color: #ffffffb7; 
  color: black;
  border-color: transparent; 
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.377);
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.btn_flotante i {
  font-size: 35px;
}

.btn_flotante:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.377);
}

.btn_flotante.mostrar {
  transition: 0.3s;
  opacity: 1;
  cursor: pointer;
}

.icon_pago {
  border: 1px solid #00000012;
  border-radius: 5px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.05);
  margin-right: 10px;
}

.icon_pago g {
  transform: translate(15%, 15%)
}

@media screen and (min-width: 600px) {
  #noti {
  padding: 25px;
  display: none;
  width: 330px;
  height: 320px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  }
  /*.etiquetaSup span {
    display: block;
  }*/
}

@media screen and (max-width: 600px) {
  .navDiv1 {
    margin-bottom: 0px;
  }
  .navDiv2,
  .navDiv3 {
    display: none;
    margin-top: 3%;
  }
  .logoMenuSup span {
    font-size: 24px;
  }
  .card-style {
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .btn_flotante {
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
  .btn_flotante i {
    font-size: 30px;
  }
  .btn_flotante:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
  .corazon i.eslogan {
    display: none;
  }
  #noti {
    padding: 25px;
    display: none;
    position: sticky;
    top: 0;
    z-index: 1020;
    height: auto;
    width: auto;
  }
}
@media screen and (max-height: 600px) {
  .navDiv1 {
    margin-bottom: 0px;
  }
  .navDiv2,
  .navDiv3 {
    display: none;
  }
  .logoMenuSup span {
    font-size: 24px;
  }
  .card-style {
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .btn_flotante {
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
  .btn_flotante i {
    font-size: 30px;
  }
  .btn_flotante:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
}