.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 40
  }

.btnNav {
    padding: 15px 20px;
    text-decoration: none;
    color: #485206;
    font-weight: bold;
}

.btnNav:hover {
    color: black;
}

.btnNav.disabled,
.btnNav.disabled:hover {
    color: rgb(80, 79, 79);
    cursor: default;
}

.btnIcon span, 
.btnIcon i {
    padding-right: 5px;
    font-size: 22px;
    text-decoration: none;
    color: #485206;
    font-weight: bold;
}

.card-style {
  margin: 10px;
  max-width: 540px;
  max-height: 300px;
  cursor: pointer;
  overflow: hidden;
}

.card-style img {
  object-fit: cover;
}

.card-style:hover {
  transition: 0.2s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.322);
}

.precio,
.linkCatalogo {
  display: none;
}

.descripcion {
  overflow: hidden;
  border-bottom-color: rgba(255, 255, 255, 0.432);
  height: 100px;
  text-overflow: ellipsis;
  
}

/* Boton flotante */
.btn_flotante {
  transition: 0.3s;
  position: fixed;
  bottom: 40px; 
  right: 30px; 
  width: 50px;
  height: 50px;
  background-color: #ffffffb7; 
  color: black;
  border-color: transparent; 
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.377);
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.btn_flotante i {
  font-size: 35px;
}

.btn_flotante:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.377);
}

.btn_flotante.mostrar {
  transition: 0.3s;
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .card-style {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .btn_flotante {
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
  .btn_flotante i {
    font-size: 30px;
  }
  .btn_flotante:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
  .corazon i.eslogan {
    display: none;
  }
}
@media screen and (max-height: 600px) {
  .card-style {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .btn_flotante {
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
  .btn_flotante i {
    font-size: 30px;
  }
  .btn_flotante:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
}