.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 40
  }

  @font-face {
    font-family: 'pristinastd';
    src: url(../font/pristinastd.woff2) format('woff2'),
         url(../font/pristinastd.woff) format('woff');
    font-weight: normal;
    font-style: normal;
  }

  [data-bs-theme=dark] {
    color: white;
  }

  [data-bs-theme=dark] .bg-white {
    background-color: #212529 !important;
    color: white;
  }

  [data-bs-theme=dark] .dropdown-menu {
    background-color: #212529 !important;
  }

  [data-bs-theme=dark] .dropdown-menu button {
    color: white;
  }

  [data-bs-theme=dark] .dropdown-menu .selected {
    background-color: rgb(16, 16, 16);
  }

  [data-bs-theme=dark] .theme-style {
    fill: white !important;
  }


  [data-bs-theme=dark] p,
  [data-bs-theme=dark] h1,
  [data-bs-theme=dark] h2,
  [data-bs-theme=dark] h3,
  [data-bs-theme=dark] h4,
  [data-bs-theme=dark] h5,
  [data-bs-theme=dark] h6,
  [data-bs-theme=dark] small,
  [data-bs-theme=dark] .btn-close {
      color: white !important;
      fill: white !important;
  }

  [data-bs-theme=dark] #sidebar,
  [data-bs-theme=dark] .list-group-item {
    color: white;
    fill: white;
    background-color: #1c1f23;
  }

  [data-bs-theme=dark] #interfazVentanaEmergente {
    background-color: #272b30 !important;
  }

  [data-bs-theme=dark] .notiAlerta {
    background-color: #721c24;
    color: white;
    border-color: rgb(63, 0, 0);
  }

  [data-bs-theme=dark] .evento {
    background-color: #aa4700;
  }

  [data-bs-theme=dark] .btn-primary,
  [data-bs-theme=dark] .btn-outline-primary:hover {
    color: black;
    fill: black;
  }

  [data-bs-theme=dark] .btn-primary:hover {
    color: white;
    fill: white;
  }

  .btn-cambiar-tema {
    border-width: 1px;
    border-color: var(--clr-general);
    margin-left: 10px;
    position: relative;
  }

  .btn-cambiar-tema:hover {
    border-color: var(--clr-general);
  }

  .btn-cambiar-tema span {
    display: none;
    position: absolute;
    top: 50%;
    left: calc(100% + 10px);
    transform: translateY(-50%);
    color: var(--clr-general);
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .btn-cambiar-tema:hover span {
    opacity: 1;
  }

  .btn-cambiar-tema svg,
  .btn-cambiar-tema-movil svg {
    display: none;
  }

  .btn-cambiar-tema.light #light-icon,
  .btn-cambiar-tema-movil.light #light-icon {
    display: inline !important;
  }

  .btn-cambiar-tema.dark #dark-icon,
  .btn-cambiar-tema-movil.dark #dark-icon {
    display: inline !important;
  }

  .btn-cambiar-tema.auto #auto-icon,
  .btn-cambiar-tema-movil.auto #auto-icon {
    display: inline !important;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    left: auto;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    z-index: 1000;
  }
  .dropdown-menu .selected {
    color: var(--clr-general) !important;
    background-color: rgb(208, 208, 208);
  }
  .show-drop {
    display: block;
  }

  body {
    overflow-x: hidden;
  }

  .etiquetaSup {
    width: 100%;
    background-color: #485206;
  }

  .etiquetaSup span {
    white-space: nowrap;
    overflow: hidden;
    display: none;
    animation: animacionEtiquetaSup 30s linear infinite;
  }

  @keyframes animacionEtiquetaSup {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .slide-down {
    animation: slideDown 0.5s ease;
  }  

.navDiv1 {
  margin-bottom: 1rem;
}

.navDiv2,
.navDiv3 {
  display: flex;
}

#menuOpenButton {
	display: none;
}

#sidebar {
	position: fixed;
	top: 0;
	left: -300px;
	width: 300px;
	height: 100vh;
  overflow-y: scroll;
	background-color: #f8f8f8;
	transition: left 0.3s ease;
	z-index: 9999;
}

#sidebar.open {
	left: 0;
}


.btnNav {
    padding: 15px 20px;
    text-decoration: none;
    color: #485206;
    font-weight: bold;
    cursor: pointer;
}

.btnNav:hover {
    color: black;
}

.btnNav.disabled,
.btnNav.disabled:hover {
    color: rgb(80, 79, 79);
    cursor: default;
}

.btnNav i {
  font-size: 25px;
}

.btnIcon span, 
.btnIcon i {
    padding-right: 5px;
    font-size: 22px;
    text-decoration: none;
    color: #485206;
    font-weight: bold;
}

.logoMenuSup span {
  font-family: 'pristinastd';
  font-size: 26px;
  padding-left: 5px;
}

.card-style {
  margin: 10px;
  max-width: 540px;
  max-height: 300px;
  cursor: pointer;
  overflow: hidden;
  display: none;
}
.card-style:nth-child(-n+4) {
  display: flex;
}
.filter {
  margin: 10px;
  max-width: 200px;
  max-height: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-style img,
.filter img {
  object-fit: cover;
}

.card-style:hover,
.filter:hover {
  transition: 0.2s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.322);
}

.precio,
.linkCatalogo {
  display: none;
}

.titulo {
  max-height: 25px;
}

.descDisplay,
.titulo {
  overflow: hidden;
  border-bottom-color: white;
  text-overflow: ellipsis;
  color: black;
}

.notiAlerta {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.notiAlerta i {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  height: 100%;
}

.notiAlerta p {
  margin: 0px;
  font-size: 15px;
}

.notiAlerta a {
  color: #420007;
}

.evento {
  background-color: #fcdf8f;
}

.fa-fw {
  width: 1.25em;
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: left; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.footercopy {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0.5rem !important;
  align-items: center !important;
  justify-content: space-between !important;
}

/* Buscador */
.busqueda {
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: transparent;
  border-color: #ccc;
  border-radius: 10px;
  display: none;
}

.busquedaMovil {
  width: 100%;
  border-color: #cccccc00;
  border-radius: 0px;
  display: none;
}

.busqueda.mostrar {
  display: block;
}

.busquedaMovil.mostrar {
  display: block;
}

.resultado,
.resultado li {
  background-color: transparent;
  cursor: pointer;
}

.resultado img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  object-fit: cover;
}

.resultadoMovil img {
  min-width: 55px;
  height: 55px;
  margin: 0%;
  border-radius: 10px;
  object-fit: cover;
}

.resultado li:hover {
  background-color: rgba(0, 0, 0, 0.116);
}

/* Boton flotante */
.btn_flotante {
  transition: 0.3s;
  position: fixed;
  bottom: 40px; 
  right: 30px; 
  width: 50px;
  height: 50px;
  background-color: #ffffffb7; 
  color: black;
  border-color: transparent; 
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.377);
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.btn_flotante i {
  font-size: 35px;
}

.btn_flotante:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.377);
}

.btn_flotante.mostrar {
  transition: 0.3s;
  opacity: 1;
  cursor: pointer;
}

.icon_pago {
  border: 1px solid #00000012;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,.05);
  margin-right: 10px;
}

.icon_pago g {
  transform: translate(15%, 15%)
}

.tarjeta {
  height: 210px !important;
}

.text-container {
  max-height: 150px;
  overflow: hidden;
  position: relative;
}

.text-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.read-more {
  display: block;
  margin-top: 10px;
  text-align: center;
}

/* Línea de tiempo */
.timeline {
  margin: 50px auto;
  width: 80%;
  position: relative;
}

.line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--clr-general);
}

.event {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px; /* Ancho del punto de evento */
  height: 10px; /* Alto del punto de evento */
  background-color: var(--clr-general); /* Color del punto de evento */
  border-radius: 50%; /* Hace que el punto de evento sea redondo */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra para el punto de evento */
}

.event-date {
  position: absolute;
  top: calc(100% + 10px); /* Posiciona la fecha por debajo de la línea */
  left: 50%;
  transform: translateX(-50%);
  color: #555; /* Color del texto de la fecha */
}

.carousel {
  width: 70%;
}

@media screen and (min-width: 600px) { /* Estilos para Computadoras */
  #noti {
  padding: 25px;
  display: none;
  width: 330px;
  height: 320px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  }
  .card-style img {
    height: 210px;
    width: 180px !important;
  }
  /*.etiquetaSup span {
    display: block;
  }*/
  .text_error_404 a {
    width: 15%;
  }
}

@media screen and (max-width: 600px) { /* Estilos para Dispositivos Moviles Vertical */
  [data-bs-theme=dark] #interfazVentanaEmergente {
    background-color: transparent !important;
  }
  .navDiv1 {
    margin-bottom: 0px;
  }
  .menuLateral {
    display: block !important;
  }
  .navDiv2,
  .navDiv3 {
    display: none;
  }
  .dropdown-menu {
    right: 0;
    left: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
  .logoMenuSup span {
    font-size: 24px;
  }
  .carousel {
    width: 100%;
  }
  .carousel img {
    border-radius: 10px;
  }
  .card-style {
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 250px !important;
  }
  .card-style .descDisplay,
  .card-style .titulo {
    color: white;
  }
  .btn_flotante {
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
  .btn_flotante i {
    font-size: 30px;
  }
  .btn_flotante:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
  .corazon i.eslogan {
    display: none;
  }
  .footercopy {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.5rem !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
  #noti {
    padding: 25px;
    display: none;
    position: sticky;
    top: 0;
    z-index: 0;
    height: auto;
    width: auto;
  }
  .text_error_404 a {
    width: 100%;
  }
  .productoVista div,
  .productoVista figure {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media screen and (max-height: 600px) { /* Estilos para Dispositivos Moviles Horizontal */
  .navDiv1 {
    margin-bottom: 0px;
  }
  .menuLateral {
    display: block !important;
  }
  .navDiv2,
  .navDiv3 {
    display: none;
  }
  .logoMenuSup span {
    font-size: 24px;
  }
  .card-style {
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .card-style .descDisplay,
  .card-style .titulo {
    color: white;
  }
  .btn_flotante {
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
  .btn_flotante i {
    font-size: 30px;
  }
  .btn_flotante:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
  }
  .footercopy {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.5rem !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
  .text_error_404 a {
    width: 100%;
  }
}