body {
    background-color: #002907;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url(imagenes/fondo.png);
    background-position: center;
    background-size: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 90vh;
    padding-top: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.whatsapp {
    padding: 10px;
    font-size: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
  }

img {
    max-width: auto;
    height: 30%;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.linkCasa {
    font-size: 18px;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: white;
}

.redes {
    flex-direction: row;
    font-size: 35px;
}

.redes a {
    color: white;
}

footer {
    background-color: transparent;
    text-align: center;
    position: absolute;
    padding-bottom: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 14px;
}


@media screen and (max-width: 480px) {
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
    footer {
      font-size: 12px;
    }
  }
